<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--引入头文件-->
<head th:include="aside :: head"></head>
<body>
  <script>NProgress.start()</script>

  <div class="main">
    <nav class="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" th:href="@{/youdian/logout}"><i class="fa fa-sign-out"></i>退出</a></li>
      </ul>
    </nav>
      <div class="row">
        <div class="col-md-10">
          <h2>项目编辑</h2>
          <form th:action="@{/youdian/updateExample}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${example.id}">
            <div class="form-group">
              <label for="title" style="color: #f854ec">项目标题</label>
              <input id="title" class="form-control" style="height: 50px;width: 400px" th:value="${example.title}" name="title" type="text" placeholder="程碧焕口腔...">
            </div>
            <div style="width: 100%">
              <img th:each="img:${imgs}" src="" width="250px" height="150px" th:src="@{${img}}" >
            </div>
            <div class="form-group">
              <label for="image" style="color: #f854ec">上传多张图片</label>
              <input id="image" style="height: 50px;width: 400px" multiple class="form-control" name="image" type="file" >
            </div>

            <div class="form-group">
              <label for="image" style="color: #f854ec">案例分类</label><br>
              <select name="cid" style="height: 50px;width: 400px;padding: 0 2%;margin: 0;" >
                <option style="text-align: center;" th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.cname}"></option>
              </select>
            </div>
            <div class="form-group">
              <label for="mianji" style="color: #f854ec">面积</label>
              <input id="mianji" class="form-control" style="height: 50px;width: 400px" th:value="${example.mianji}" name="mianji" type="text" placeholder="888"></input>
            </div>
            <div class="form-group">
              <label for="address" style="color: #f854ec">地址</label>
              <input id="address" class="form-control" style="height: 50px;width: 400px" th:value="${example.address}" name="address" type="text" placeholder="杭州市。。。"></input>
            </div>
            <div class="form-group">
              <label for="introduct" style="color: #f854ec">项目介绍</label>
              <textarea id="introduct" class="form-control" style="height: 170px;width: 400px" th:text="${example.introduct}" name="introduct" type="text" placeholder="项目的具体内容"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">修改</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--引入边缘部分-->
  <div class="aside" th:include="aside :: aside"></div>
  <script>NProgress.done()</script>
</body>
</html>
